<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">Administration</h2>
  <p class="lead">Espace permettant de gérer les quizzes !</p>

  <div class="buttons">
    <a href="/tag/addTag" class="btn btn-lg btn-block btn-primary text-white">Ajouter un tag</a>
    <a href="/tag/select" class="btn btn-lg btn-block btn-primary text-white">Modifier un tag</a>
  </div>

</div>

<%- include('partials/footer') %>